{% load django2html %}

<div id="meaning_{{ index }}" class="well">
    {% realBtn 'del_meaning_'|add:index '<i class="material-icons">delete</i>' 'danger' extraClass='btn-xs pull-right' %}
    {% realBtn 'add_meaning_'|add:index '<i class="material-icons">add</i>' 'success' extraClass='btn-xs pull-right' %}
    {% floatInput 'meaning_chinese_'|add:index 'Chinese' %}
    {% floatInput 'meaning_english_'|add:index 'English' %}

    <div id="word_{{ index }}_0" class="well">
        {% realBtn 'del_word_'|add:index|add:'_0' '<i class="material-icons">delete</i>' 'danger' extraClass='btn-xs pull-right' %}
        {% realBtn 'add_word_'|add:index|add:'_0' '<i class="material-icons">add</i>' 'success' extraClass='btn-xs pull-right' %}
        {% floatInput 'word_word_'|add:index|add:'_0' 'Word' %}
    </div>
    <div id="word_{{ index }}_1" class="well">
        {% realBtn 'del_word_'|add:index|add:'_0' '<i class="material-icons">delete</i>' 'danger' extraClass='btn-xs pull-right' %}
        {% realBtn 'add_word_'|add:index|add:'_0' '<i class="material-icons">add</i>' 'success' extraClass='btn-xs pull-right' %}
        {% floatInput 'word_word_'|add:index|add:'_1' 'Word' %}
    </div>
    <div id="word_{{ index }}_2" class="well">
        {% realBtn 'del_word_'|add:index|add:'_0' '<i class="material-icons">delete</i>' 'danger' extraClass='btn-xs pull-right' %}
        {% realBtn 'add_word_'|add:index|add:'_0' '<i class="material-icons">add</i>' 'success' extraClass='btn-xs pull-right' %}
        {% floatInput 'word_word_'|add:index|add:'_2' 'Word' %}
    </div>
</div>
