{% load django2html %}

{% for meaning in root.meaning_set.all %}
    <div class="well">
        <a href="javascript:void(0)" class="btn btn-info lowercase">
            {{ meaning.chinese }}&nbsp;&nbsp;{{ meaning.english }}
        </a>
        <div class="well">
            <a href="javascript:void(0)" class="btn btn-default lowercase">
                {% for word in meaning.word_set.all %}
                    &nbsp;&nbsp;&nbsp;&nbsp;{{ word.word }}
                {% endfor %}
            </a>
        </div>
    </div>
{% endfor %}
