{% extends 'base.html' %}

{% load staticfiles %}

{% load django2html %}

{% block head_title %}欢迎回来{% endblock %}

{% block head_javascript %}
    {% include 'root/jsons.html' %}
    <script src="{% static 'js/dom.js' %}"></script>
    <script src="{% static 'js/editRoots.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    <script>
        $(function () {
            addMeaningBlock();
        });
    </script>
{% endblock %}

{% block content %}

    <form action="{% url 'word:add' %}" method="post">
        {% csrf_token %}

        {% floatInput 'root' 'Root' %}
        {% select 'type' 'Type' type_options default_type %}

        <div id="meanings">
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    {% realBtn "cancel" "Cancel" "default" type="button" extraClass='btn-block' %}
                </div>
                <div class="col-md-6">
                    {% realBtn "submit" "Submit" "primary" type="submit" extraClass='btn-block' %}
                </div>
            </div>
        </div>
    </form>

    <br><br><br>

{% endblock %}

