{% extends 'base.html' %}

{% load staticfiles %}

{% load django2html %}

{% block head_title %}欢迎回来{% endblock %}

{% block head_javascript %}
    <script>
        var root = JSON.parse("{{ root.as_json }}".replace(/&#39;/g, '"'));
    </script>
    {% include 'root/js.html' %}
    <script>
        $(function () {
            addMeaning();
        });
    </script>
{% endblock %}

{% block content %}
    <br>
    <br>

    <form action="{% url 'word:edit' id=root.pk %}" method="post">
        {% csrf_token %}

        {% floatInput 'root' 'Root' text=root.root %}
        {% select 'type' 'Type' type_options default_type %}

        <div id="meanings">
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    {% realBtn "cancel" "Cancel" "default" type="button" extraClass='btn-block' %}
                </div>
                <div class="col-md-6">
                    {% realBtn "submit" "Submit" "primary" type="submit" extraClass='btn-block' %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}

