<script>
    var indexList = [0];
    var wordIndexList = [0];

    function wordCanDel(btn) {
        var re = /del_word_(\d{1,3})_(\d{1,3})/;
        var meaning_id = re.exec($(btn).attr('id'))[1];
        if ($("button[id^='add_word_" + meaning_id + "_']").size() < 2) {
            $.snackbar({content: "已是最后一项"});
            return false;
        } else {
            return true;
        }
    }

    function meaningCanDel(btn) {
        if ($("button[id^='add_meaning_']").size() < 2) {
            $.snackbar({content: "已是最后一项"});
            return false;
        } else {
            return true;
        }
    }

    function addWord(meaningIndex) {
        var index = Math.max.apply(null, wordIndexList) + 1;
        var url = ("{% url 'word:wordTemplate' %}?meaningIndex=" + meaningIndex + '&wordIndex=' + index);
        $.get(url, function (word) {
            word = $.trim(word);
            $("#meaning_word_" + meaningIndex).append(word);
            wordIndexList.push(index);
            $("button[id^='add_word_']").unbind('click').click(function () {
                var re = /add_word_(\d{1,3})_(\d{1,3})/;
                var meaning_id = re.exec($(this).attr('id'))[1];
                addWord(meaning_id);
                return false;
            });
            $("button[id^='del_word_']").unbind('click').click(function () {
                if (wordCanDel(this)) {
                    $(this).parent().remove();
                }
                return false;
            });
        });
    }

    function addMeaning() {
        var index = Math.max.apply(null, indexList) + 1;
        var url = ("{% url 'word:meaningTemplate' %}?index=" + index);
        $.get(url, function (meaning) {
            meaning = $.trim(meaning);
            $("#meanings").append(meaning);
            indexList.push(index);
            $("button[id^='add_meaning_']").unbind('click').click(function () {
                addMeaning();
                return false;
            });
            $("button[id^='del_meaning_']").unbind('click').click(function () {
                if (meaningCanDel(this)) {
                    $(this).parent().remove();
                }
                return false;
            });
            addWord(index);
        });
    }
</script>