{% extends 'base.html' %}

{% load staticfiles %}

{% load django2html %}

{% block head_title %}Words List{% endblock %}

{% block head_javascript %}
    {% include 'root/jsons.html' %}
    <script src="{% static 'js/dom.js' %}"></script>
    <script src="{% static 'js/showRoots.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    <script>
        $(function () {
            showAllRoots();
        });
    </script>
{% endblock %}

{% block content %}

    <div id="letters"></div>

    <br>
    <div id="roots"></div>

    <a href="{{ add_url|add:'?type='|add:type }}" class="btn btn-info btn-raised btn-fab fixed">
        <i class="material-icons">add</i></a>

    <br><br><br>
{% endblock %}